@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #050505;

    --card: #ffffff;
    --card-foreground: #050505;

    --popover: #ffffff;
    --popover-foreground: #050505;

    --primary: #161616;
    --primary-foreground: #fafafa;

    --secondary: #f3f3f3;
    --secondary-foreground: #161616;

    --muted: #f3f3f3;
    --muted-foreground: #737373;

    --accent: #f3f3f3;
    --accent-foreground: #161616;

    --destructive: #a7003d;
    --destructive-foreground: #fafafa;

    --border: #e6e6e6;
    --input: #e6e6e6;
    --ring: #050505;
  }

  .dark {
    --background: #050505;
    --foreground: #fafafa;

    --card: #050505;
    --card-foreground: #fafafa;

    --popover: #050505;
    --popover-foreground: #fafafa;

    --primary: #fafafa;
    --primary-foreground: #161616;

    --secondary: #262626;
    --secondary-foreground: #fafafa;

    --muted: #262626;
    --muted-foreground: #a3a3a3;

    --accent: #262626;
    --accent-foreground: #fafafa;

    --destructive: #a1194e;
    --destructive-foreground: #fafafa;

    --border: #262626;
    --input: #262626;
    --ring: #d4d4d4;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}